{% extends "layout.html" %}
{% block body %}
<div id="focus"></div>
<div class="container">
  <div class="row earn">
    <div class="span3">
      <div class="index-title"><strong>Earn</strong> the <em>time</em></div>
    </div>
    <div class="project-list span9">
      <div class="item">
        <div class="info">
          <img src="/static/_dev/project1.jpg"/>

          <div class="intro">
            <h5>Organize a craft project for children</h5>

            <div class="organization">by <a href="#">Some Organization</a></div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              Integer posuere erat a ante.
            </div>
          </div>
          <a class="more" href="#">Learn more &gt;</a>

          <div class="location">Boon Lay, SG</div>
        </div>
      </div>
      <div class="item">
        <div class="info">
          <img src="/static/_dev/project2.jpg"/>

          <div class="intro">
            <h5>Some title here</h5>

            <div class="organization">by <a href="#">Some Organization</a></div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              Integer posuere erat a ante.
            </div>
          </div>
          <a class="more" href="#">Learn more &gt;</a>

          <div class="location">Boon Lay, SG</div>
        </div>
      </div>
      <div class="item">
        <div class="info">
          <img src="/static/_dev/project1.jpg"/>

          <div class="intro">
            <h5>Organize a craft project for children</h5>

            <div class="organization">by <a href="#">Some Organization</a></div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              Integer posuere erat a ante.
            </div>
          </div>
          <a class="more" href="#">Learn more &gt;</a>

          <div class="location">Boon Lay, SG</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row donate">
    <div class="span3">
      <div class="index-title"><strong>Donate</strong> your <em>time</em></div>
    </div>
    <div class="project-list span9">
      <div class="item">
        <div class="wrap">
          <img src="/static/_dev/project1.jpg"/>

          <div class="info">
            <h5>Free lunch for children</h5>

            <div class="sponsor">Sponsor: <a href="#">Some Company</a></div>
            <div class="organization">Organization: <a href="#">Some Organization</a></div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              Integer posuere erat a ante. <br/>
              Something more...
            </div>
            <div class="status">
              <div class="progress-bar">
                <div class="bar" style="width: 60%;"></div>
              </div>
              <div class="price property first">
                <span>PRICE</span>
                <strong>3 hrs / meal</strong>
              </div>
              <div class="received property middle">
                <span>RECEIVED</span>
                <strong>60% (180 hrs)</strong>
              </div>
              <div class="target property last">
                <span>TARGET</span>
                <strong>300 hrs</strong>
              </div>
              <a class="donate" href="#">Donate!</a>
              <div class="remaining-time">10 DAYS TO GO</div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="wrap">
          <img src="/static/_dev/project2.jpg"/>

          <div class="info">
            <h5>Free lunch for children</h5>

            <div class="sponsor">Sponsor: <a href="#">Some Company</a></div>
            <div class="organization">Organization: <a href="#">Some Organization</a></div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              Integer posuere erat a ante. <br/>
              Something more...
            </div>
            <div class="status">
              <div class="progress-bar">
                <div class="bar" style="width: 60%;"></div>
              </div>
              <div class="price property first">
                <span>PRICE</span>
                <strong>3 hrs / meal</strong>
              </div>
              <div class="received property middle">
                <span>RECEIVED</span>
                <strong>60% (180 hrs)</strong>
              </div>
              <div class="target property last">
                <span>TARGET</span>
                <strong>300 hrs</strong>
              </div>
              <a class="donate" href="#">Donate!</a>
              <div class="remaining-time">10 DAYS TO GO</div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="wrap">
          <img src="/static/_dev/project1.jpg"/>

          <div class="info">
            <h5>Free lunch for children</h5>

            <div class="sponsor">Sponsor: <a href="#">Some Company</a></div>
            <div class="organization">Organization: <a href="#">Some Organization</a></div>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              Integer posuere erat a ante. <br/>
              Something more...
            </div>
            <div class="status">
              <div class="progress-bar">
                <div class="bar" style="width: 60%;"></div>
              </div>
              <div class="price property first">
                <span>PRICE</span>
                <strong>3 hrs / meal</strong>
              </div>
              <div class="received property middle">
                <span>RECEIVED</span>
                <strong>60% (180 hrs)</strong>
              </div>
              <div class="target property last">
                <span>TARGET</span>
                <strong>300 hrs</strong>
              </div>
              <a class="donate" href="#">Donate!</a>
              <div class="remaining-time">10 DAYS TO GO</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}