{% extends "layout.html" %}
{% block body %}
<div id="signup-main" class="container">
  <div class="span8 offset2">
    <form id="user-info" class="form-horizontal">
      <h2>Sign Up as Volunteer</h2>

      <div class="control-group">
        <label class="control-label" for="firstname">First Name</label>
        <div class="controls">
          <input type="text" id="firstname" name="firstname" placeholder="First Name">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="lastname">Last Name</label>
        <div class="controls">
          <input type="text" id="lastname" name="lastname" placeholder="Last Name">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
          <input type="email" id="email" name="email" placeholder="Email">
          <p class="description">This will be your account identifier.</p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="nationality">Nationality</label>
        <div class="controls">
          <select id="nationality" name="nationality">
            <option value="SG">Singapore</option>
            <option value="">Other</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="doc_type">Identity Document</label>
        <div class="controls">
          <select id="doc_type" name="doc_type">
            <option selected="selected" disabled="disabled">Please select...</option>
            <option value="1">NRIC (Singaporean or PR)</option>
            <option value="2">FIN (Foreigner)</option>
            <option value="3">Passport</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <!--
        <label class="control-label" for="doc_info">Identity Information</label>
        -->
        <div class="controls">
          <input type="text" id="doc_info" name="doc_info" placeholder="NRIC / FIN / Passport number">
          <p class="description">Eg. G123456789</p>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="phone">Contact Number</label>
        <div class="controls">
          <input type="text" id="phone" name="phone" placeholder="Contact Number" value="+65">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
          <input type="password" id="password" placeholder="Password">

          <p class="description">At least 6 characters.</p>
        </div>
      </div>

      <div class="control-group">
        <!--
        <label class="control-label" for="password2">Confirm Password</label>
        -->
        <div class="controls">
          <input type="password" id="password2" placeholder="Confirm Passwordd">
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <input id="submit-button" type="submit" class="btn" value="Sign up">
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="/static/libraries/hash.js"></script>
<script src="/static/scripts/account/signup.js"></script>
{% endblock %}