{% extends "frame.html" %}
{% block heading %}Accounts{% endblock %}
{% block tabs %}
<a href="/admin?frame=accounts">Statics</a>
<a href="/admin?frame=accountsSearch" class="current">Search</a>
<a href="/admin?frame=accountsLists">Lists</a>
<a href="/admin?frame=accountsCreate">Create</a>
{% endblock %}
{% block body %}
<div class="row-fluid">
  <div class="span12">
    <div class="widget">
      <div class="title">
        <span class="icon">
          <i class="icon-bookmark"></i>
        </span>
        <h3>Search Accounts</h3>
      </div>
      <div class="content">
        <form class="form-horizontal">

          <div class="control-group">
            <label class="control-label" for="firstname">First Name</label>
            <div class="controls">
              <input type="text" id="firstname" name="firstname" placeholder="First Name">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="lastname">Last Name</label>
            <div class="controls">
              <input type="text" id="lastname" name="lastname" placeholder="Last Name">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
              <input type="email" id="email" name="email" placeholder="Email">
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn">Search</button>
              <p>* All fields are optional.</p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}