<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Admin Interface - Volunteer Connect Bank</title>
  <link rel="stylesheet" href="/static/libraries/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/static/stylesheets/admin-iframe.css"/>
</head>
<body>
<h1>Accounts</h1>
<div id="tabs">
  <a href="./accounts">Statics</a>
  <a href="./accountsSearch">Search</a>
  <a href="./accountsLists" class="current">Lists</a>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <div class="widget">
        <div class="title">
        <span class="icon">
          <i class="icon-bookmark"></i>
        </span>
          <h3>List by Savings</h3>
        </div>
        <div class="content">
          <table class="table table-striped">
            <thead>
              <tr>
                <td>#</td>
                <td>Name</td>
                <td>Saving</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Xinzi Zhou</td>
                <td>10.00</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Test</td>
                <td>10.00</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Test</td>
                <td>10.00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="widget">
        <div class="title">
        <span class="icon">
          <i class="icon-bookmark"></i>
        </span>
          <h3>List by Dates</h3>
        </div>
        <div class="content">

        </div>
      </div>
    </div>
  </div>
</div>
<script src="/static/libraries/jquery-1.10.1.min.js"></script>
<script src="/static/libraries/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>