{% extends "frame.html" %}
{% block heading %}Accounts{% endblock %}
{% block tabs %}
  <a href="/admin?frame=accounts" class="current">Statics</a>
  <a href="/admin?frame=accountsSearch">Search</a>
  <a href="/admin?frame=accountsLists">Lists</a>
  <a href="/admin?frame=accountsCreate">Create</a>
{% endblock %}
{% block body %}
  <div class="row-fluid">
    <div class="span12">
      <div class="widget">
        <div class="title">
        <span class="icon">
          <i class="icon-bookmark"></i>
        </span>
          <h3>Account Statics</h3>
        </div>
        <div class="content">
          <p>This is the content.</p>
          <p>This is the content.</p>
          <p>This is the content.</p>
          <p>This is the content.</p>
          <p>This is the content.</p>
          <p>This is the content.</p>
          <p>This is the content.</p>
          <p>This is the content.</p>
          <p>This is the content.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}