{% extends "frame.html" %}
{% block heading %}Dashboard{% endblock %}
{% block tabs %}
<a href="#" class="current">Home</a>
<a href="#">System Status</a>
{% endblock %}
{% block body %}
<div class="row-fluid">
  <div class="span6">
    <div class="widget">
      <div class="title">
        <span class="icon">
          <i class="icon-bookmark"></i>
        </span>
        <h3>Title</h3>
      </div>
      <div class="content">
        <p>This is the content.</p>
        <p>This is the content.</p>
        <p>This is the content.</p>
        <p>This is the content.</p>
        <p>This is the content.</p>
        <p>This is the content.</p>
        <p>This is the content.</p>
        <p>This is the content.</p>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="widget">
      <div class="title">
        <span class="icon">
          <i class="icon-bookmark"></i>
        </span>
        <h3>Title</h3>
      </div>
      <div class="content">
        <p>This is the content.</p>
        <p>This is the content.</p>
        <p>This is the content.</p>
        <p>This is the content.</p>
        <p>This is the content.</p>
        <p>This is the content.</p>
        <p>This is the content.</p>
        <p>This is the content.</p>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <div class="widget">
      <div class="title">
        <span class="icon">
          <i class="icon-bookmark"></i>
        </span>
        <h3>Title</h3>
      </div>
      <div class="content">
        <p>This is the content.</p>
        <p>This is the content.</p>
        <p>This is the content.</p>
        <p>This is the content.</p>
        <p>This is the content.</p>
        <p>This is the content.</p>
        <p>This is the content.</p>
        <p>This is the content.</p>
        <p>This is the content.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}