<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <meta charset="utf-8">
  <title>{% block title %}Frame{% endblock %} - Admin Interface - Volunteer Connect Bank</title>
  <link rel="stylesheet" href="/static/libraries/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/static/stylesheets/admin-iframe.css"/>
  {% endblock %}
</head>
<body>
<h1>{% block heading %}{% endblock %}</h1>
<div id="tabs">{% block tabs %}{% endblock %}</div>
<div id="body" class="container-fluid">{% block body %}{% endblock %}</div>
<div id="copyright" class="container-fluid">
  <p>Copyright &copy; 2013 VCBank</p>
  <p class="small">* Information displayed in this page is only for authorized administrators.</p>
</div>
<script src="/static/libraries/jquery-1.10.1.min.js"></script>
<script src="/static/libraries/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/scripts/admin/frame.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>