<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Donate your time - Volunteer Connect Bank</title>
  <link rel="stylesheet" href="/static/libraries/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/static/stylesheets/main.css"/>
</head>
<body>
<div id="header">
  <div class="container">
    <a id="logo" href="./">Volunteer Connect Bank</a>
    <ul id="main-navigator">
      <li><a href="earn"><strong>Earn</strong><span>the <em>time</em></span></a></li>
      <li class="current"><a href="donate"><strong>Donate</strong><span>your <em>time</em></span></a></li>
    </ul>
    <div id="search">
      <input id="search-keyword" placeholder="Search" />
    </div>
    <ul id="user-box"  class="pull-right">
      <li><a id="help" href="#">Help</a></li>
      <li><a href="signup">Sign up</a></li>
      <li><a href="login">Log in</a></li>
    </ul>
  </div>
</div>
<div id="body" class="donate">
  <div class="container">
    <h2>Donate your <em>time</em></h2>
    <p class="header-description">Sponsors will help the following projects according volunteers' donation.</p>
    <div class="row">
      <div class="project-list span9">
        <div class="item">
          <div class="wrap">
            <img src="/static/_dev/project1.jpg" />
            <div class="info">
              <h5>Free lunch for children</h5>
              <div class="sponsor">Sponsor: <a href="#">Some Company</a></div>
              <div class="organization">Organization: <a href="#">Some Organization</a></div>
              <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                Integer posuere erat a ante. <br />
                Something more...
              </div>
              <div class="status">
                <div class="progress-bar">
                  <div class="bar" style="width: 60%;"></div>
                </div>
                <div class="price property first">
                  <span>PRICE</span>
                  <strong>3 hrs / meal</strong>
                </div>
                <div class="received property middle">
                  <span>RECEIVED</span>
                  <strong>60% (180 hrs)</strong>
                </div>
                <div class="target property last">
                  <span>TARGET</span>
                  <strong>300 hrs</strong>
                </div>
                <a class="donate" href="#">Donate!</a>
                <div class="remaining-time">10 DAYS TO GO</div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="wrap">
            <img src="/static/_dev/project2.jpg" />
            <div class="info">
              <h5>Free lunch for children</h5>
              <div class="sponsor">Sponsor: <a href="#">Some Company</a></div>
              <div class="organization">Organization: <a href="#">Some Organization</a></div>
              <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                Integer posuere erat a ante. <br />
                Something more...
              </div>
              <div class="status">
                <div class="progress-bar">
                  <div class="bar" style="width: 60%;"></div>
                </div>
                <div class="price property first">
                  <span>PRICE</span>
                  <strong>3 hrs / meal</strong>
                </div>
                <div class="received property middle">
                  <span>RECEIVED</span>
                  <strong>60% (180 hrs)</strong>
                </div>
                <div class="target property last">
                  <span>TARGET</span>
                  <strong>300 hrs</strong>
                </div>
                <a class="donate" href="#">Donate!</a>
                <div class="remaining-time">10 DAYS TO GO</div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="wrap">
            <img src="/static/_dev/project1.jpg" />
            <div class="info">
              <h5>Free lunch for children</h5>
              <div class="sponsor">Sponsor: <a href="#">Some Company</a></div>
              <div class="organization">Organization: <a href="#">Some Organization</a></div>
              <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                Integer posuere erat a ante. <br />
                Something more...
              </div>
              <div class="status">
                <div class="progress-bar">
                  <div class="bar" style="width: 60%;"></div>
                </div>
                <div class="price property first">
                  <span>PRICE</span>
                  <strong>3 hrs / meal</strong>
                </div>
                <div class="received property middle">
                  <span>RECEIVED</span>
                  <strong>60% (180 hrs)</strong>
                </div>
                <div class="target property last">
                  <span>TARGET</span>
                  <strong>300 hrs</strong>
                </div>
                <a class="donate" href="#">Donate!</a>
                <div class="remaining-time">10 DAYS TO GO</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="project-tags" class="span3">
        <h4><i class="icon-globe"></i> Location</h4>
        <ul id="location-list">
          <li class="checkbox"><input type="checkbox" checked="checked"> North</li>
          <li class="checkbox"><input type="checkbox" checked="checked"> South</li>
          <li class="checkbox"><input type="checkbox" checked="checked"> East</li>
          <li class="checkbox"><input type="checkbox" checked="checked"> West</li>
          <li class="checkbox"><input type="checkbox" checked="checked"> Oversea</li>
        </ul>
        <h4><i class="icon-list"></i> Type</h4>
        <ul id="type-list">
          <li class="checkbox"><input type="checkbox" checked="checked"> North</li>
          <li class="checkbox"><input type="checkbox" checked="checked"> South</li>
          <li class="checkbox"><input type="checkbox" checked="checked"> East</li>
          <li class="checkbox"><input type="checkbox" checked="checked"> West</li>
          <li class="checkbox"><input type="checkbox" checked="checked"> Oversea</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <hr />
  <div id="copyright" class="container">
    Copyright &copy; 2013 VCBank
  </div>
</div>
<script src="/static/libraries/jquery-1.10.1.min.js"></script>
<script src="/static/libraries/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>