<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Earn the time - Volunteer Connect Bank</title>
  <link rel="stylesheet" href="/static/libraries/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/static/stylesheets/main.css"/>
</head>
<body>
<div id="header">
  <div class="container">
    <a id="logo" href="./">Volunteer Connect Bank</a>
    <ul id="main-navigator">
      <li class="current"><a href="earn"><strong>Earn</strong><span>the <em>time</em></span></a></li>
      <li><a href="donate"><strong>Donate</strong><span>your <em>time</em></span></a></li>
    </ul>
    <div id="search">
      <input id="search-keyword" placeholder="Search" />
    </div>
    <ul id="user-box"  class="pull-right">
      <li><a id="help" href="#">Help</a></li>
      <li><a href="signup">Sign up</a></li>
      <li><a href="login">Log in</a></li>
    </ul>
  </div>
</div>
<div id="body" class="earn">
  <div class="container">
    <h2>Volunteer opportunities</h2>
    <p class="header-description">Earn the <em>time</em> currency by doing volunteer work.</p>
    <div class="row">
      <div class="project-list span9">
        <div class="item">
          <div class="info">
            <img src="/static/_dev/project1.jpg" />
            <div class="intro">
              <h5>Organize a craft project for children</h5>
              <div class="organization">by <a href="#">Some Organization</a></div>
              <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                Integer posuere erat a ante.
              </div>
            </div>
            <a class="more" href="#">Learn more &gt;</a>
            <div class="location">Boon Lay, SG</div>
          </div>
        </div>
        <div class="item">
          <div class="info">
            <img src="/static/_dev/project2.jpg" />
            <div class="intro">
              <h5>Some title here</h5>
              <div class="organization">by <a href="#">Some Organization</a></div>
              <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                Integer posuere erat a ante.
              </div>
            </div>
            <a class="more" href="#">Learn more &gt;</a>
            <div class="location">Boon Lay, SG</div>
          </div>
        </div>
        <div class="item">
          <div class="info">
            <img src="/static/_dev/project1.jpg" />
            <div class="intro">
              <h5>Organize a craft project for children</h5>
              <div class="organization">by <a href="#">Some Organization</a></div>
              <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                Integer posuere erat a ante.
              </div>
            </div>
            <a class="more" href="#">Learn more &gt;</a>
            <div class="location">Boon Lay, SG</div>
          </div>
        </div>
        <div class="item">
          <div class="info">
            <img src="/static/_dev/project2.jpg" />
            <div class="intro">
              <h5>Organize a craft project for children</h5>
              <div class="organization">by <a href="#">Some Organization</a></div>
              <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                Integer posuere erat a ante.
              </div>
            </div>
            <a class="more" href="#">Learn more &gt;</a>
            <div class="location">Boon Lay, SG</div>
          </div>
        </div>
      </div>
      <div id="project-tags" class="span3">
        <h4><i class="icon-globe"></i> Location</h4>
        <ul id="location-list">
          <li class="checkbox"><input type="checkbox" checked="checked"> North</li>
          <li class="checkbox"><input type="checkbox" checked="checked"> South</li>
          <li class="checkbox"><input type="checkbox" checked="checked"> East</li>
          <li class="checkbox"><input type="checkbox" checked="checked"> West</li>
          <li class="checkbox"><input type="checkbox" checked="checked"> Oversea</li>
        </ul>
        <h4><i class="icon-list"></i> Type</h4>
        <ul id="type-list">
          <li class="checkbox"><input type="checkbox" checked="checked"> North</li>
          <li class="checkbox"><input type="checkbox" checked="checked"> South</li>
          <li class="checkbox"><input type="checkbox" checked="checked"> East</li>
          <li class="checkbox"><input type="checkbox" checked="checked"> West</li>
          <li class="checkbox"><input type="checkbox" checked="checked"> Oversea</li>
        </ul>
        <h4><i class="icon-calendar"></i> Time</h4>
        <ul id="time-list">
          <li class="checkbox"><input type="checkbox" checked="checked"> North</li>
          <li class="checkbox"><input type="checkbox" checked="checked"> South</li>
          <li class="checkbox"><input type="checkbox" checked="checked"> East</li>
          <li class="checkbox"><input type="checkbox" checked="checked"> West</li>
          <li class="checkbox"><input type="checkbox" checked="checked"> Oversea</li>
        </ul>
      </div>
    </div>
    </div>
  </div>
</div>
<div id="footer">
  <hr />
  <div id="copyright" class="container">
    Copyright &copy; 2013 VCBank
  </div>
</div>
<script src="/static/libraries/jquery-1.10.1.min.js"></script>
<script src="/static/libraries/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>